@import "leaflet/dist/leaflet.css";

.wpifycf-field-mapycz {
	&__autocomplete {
		position: relative;
	}

	&__autocomplete-input {
		display: block;
		width: 100%;
		padding: 10px;
		border: none;
		border-bottom: 1px solid #e8e8e8;
		margin: 0;
	}

	&__suggestions {
		position: absolute;
		top: calc(100%);
		background: white;
		z-index: 1100;
		display: flex;
		flex-flow: column;
		width: 300px;

		button {
			display: block;
			appearance: none;
			border: none;
			background: none;
			padding: 10px 20px;
			cursor: pointer;
			text-align: left;

			&.active {
				background: #e8e8e8;
			}
		}
	}

	&__suggestions-attribution {
		font-size: 0.8em;
		padding: 10px;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		img {
			display: inline-block;
			margin-left: 10px;
		}
	}
}
